*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:  #000033;
    padding: 20px;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
header{
    grid-area: header;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
aside{
    grid-area: aside;
    padding: 10px;
}
main{
    grid-area: main;
    padding: 10px;
}
footer{
    grid-area: footer;
    padding: 10px;
    text-align: center;
}
#bar a{
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}
#bar a:hover{
    color: darkmagenta;
    border-radius: 5px;
    border: 1px solid darkmagenta;
}
#profile img{
    height: 300px;
    width: 300px;
    padding: 10px;
}
figcaption{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #CCCCCC;
}
#icons{
    display: flex;
}
#icons a{
    text-decoration: none;
    display: flex;
    margin: 10px;
    padding-left: 50px;
}
section{
    border-bottom: 2px solid black;
    max-width: 1200px;
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
    padding: 20px 20px;
    margin-bottom: 20px;
}
section h2{
    text-align: center;
    padding-bottom: 10px;
}
section p{
    font-size: 18px;
}
#init{
    font-weight: bold;
    font-size: 20px;
}
#enquiries{
    padding-bottom: 5px;
}
em{
    font-weight: bold;
}